{% extends "base.html" %}

{% block content %}
<br>
<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form-box">
          {% from "_formhelpers.html" import render_field %}
          <form action="/settings" method="post">
            <dl>
                {{ render_field(form.age_min) }}
                {{ render_field(form.age_max) }}
                {{ render_field(form.gender) }}
{#                {{ render_field(form.interested_in) }}#}
                {{ render_field(form.bio) }}
                {{ render_field(form.discoverable) }}
                {{ render_field(form.distance_filter) }}
            </dl>
              <p><input type=submit value=Update>
          </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  <div class="col-md-3"></div>
</div>

{% endblock %}