{% extends "base.html" %}

{% block content %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<br>
<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">{{ data['category']|title }} statistics</h3>
      </div>
      <div class="panel-body">

        {% if data['category'] == 'general' %}
        <canvas id="gender-distribution-chart" width="800" height="450"></canvas>
        <hr>
        <canvas id="age-distribution-chart" width="800" height="450"></canvas>
        <hr>
        <canvas id="distance-distribution-chart" width="800" height="450"></canvas>
        {% else %}
        <canvas id="given-votes-chart" width="800" height="450"></canvas>

        {% if data['received']['total'] > 0 %}
        <hr>
        <canvas id="received-votes-chart" width="800" height="450"></canvas>
        {% endif %}

        {% endif %}

        <!-- <pre>{{ pretty_data|safe }}</pre> -->

      </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>

{% if data['category'] == 'general' %}
<script>
new Chart(document.getElementById("gender-distribution-chart"), {
  type: 'doughnut',
  data: {
    labels: ["Male", "Female"],
    datasets: [
      {
        label: "Total count",
        backgroundColor: ["#3e95cd", "#c45850"],
        data: [{{ data['male']['count'] }}, {{ data['female']['count'] }}]
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Gender distribution of all persons swiped on'
    }
  }
});
</script>

<script>
new Chart(document.getElementById("age-distribution-chart"), {
  type: 'line',
  data: {
    labels: {{ data['ages'] }},
    datasets: [{
      data: [
        {% for x in data['male']['age'].items() | sort %}
        { x: {{ x[0] }}, y: {{ x[1] }} },
        {% endfor %}
      ],
      label: "Male",
      borderColor: "#3e95cd",
      fill: false
    }, {
      data: [
        {% for x in data['female']['age'].items() | sort %}
        { x: {{ x[0] }}, y: {{ x[1] }} },
        {% endfor %}
      ],
      label: "Female",
      borderColor: "#c45850",
      fill: false
    }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Age distribution per gender'
    }
  }
});
</script>

<script>
new Chart(document.getElementById("distance-distribution-chart"), {
  type: 'line',
  data: {
    labels: {{ data['distances'] }},
    datasets: [{
      data: [
        {% for x in data['male']['distance'].items() | sort %}
        { x: {{ x[0] }}, y: {{ x[1] }} },
        {% endfor %}
      ],
      label: "Male",
      borderColor: "#3e95cd",
      fill: false
    }, {
      data: [
        {% for x in data['female']['distance'].items() | sort %}
        { x: {{ x[0] }}, y: {{ x[1] }} },
        {% endfor %}
      ],
      label: "Female",
      borderColor: "#c45850",
      fill: false
    }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Distance distribution per gender (km)'
    }
  }
});
</script>

{% else %}
<script>
new Chart(document.getElementById("given-votes-chart"), {
  type: 'doughnut',
  data: {
    labels: ["Like", "Dislike", "Superlike"],
    datasets: [
      {
        label: "Total count",
        backgroundColor: ["#2ecc71", "#e74c3c", "#3498db"],
        data: [{% for vote in ['like', 'dislike', 'superlike'] %} {{ data['given'][vote] }}, {% endfor %}],
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Votes given'
    }
  }
});
</script>

<script>
new Chart(document.getElementById("received-votes-chart"), {
  type: 'doughnut',
  data: {
    labels: ["Like", "Dislike", "Superlike"],
    datasets: [
      {
        label: "Total count",
        backgroundColor: ["#2ecc71", "#e74c3c", "#3498db"],
        data: [{% for vote in ['like', 'dislike', 'superlike'] %} {{ data['received'][vote] }}, {% endfor %}],
      }
    ]
  },
  options: {
    title: {
      display: true,
      text: 'Votes received'
    }
  }
});
</script>

{% endif %}



{% endblock %}
